{% extends 'base.html' %}
{% load static %}
{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/list.css' %}"
/>
{% endblock head %}
{% block content %}
<h1><span>Your Airports</span></h1>
<br />
{% if airports %}
<table class='table'>
  <thead>
    <tr>
      <th scope='col'>Airport Name</th>
      <th scope='col'>Airport Code</th>
      <th scope='col'>Country Code</th>
      <th scope='col'></th>
    </tr>
  </thead>
  <tbody>
    {% for airport in airports %}
      <tr>
        <th scope='row'>{{airport.name}}</th>
        <td>{{airport.iata}}</td>
        <td>{{airport.iso}}</td>
        <td><a href={% url 'airports_detail' airport.id %} class='btn btn-info btn-sm' role='button'>Details</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class='no-object-info'>
  <div>
    <p>You have no airports saved on your profile! Please go <a href={% url 'search' %}>here</a> to search and add airports to your airport list!</p>
    <p><b>Note that you need to add at least 2 different airports to purchase a ticket.</b></p>
  </div>
</div>
{% endif %}
{% endblock content %}