{% extends 'base.html' %}
{% block content %}
<h1 style="font-size:6em;">{{airport.iata}}</h1>
<h1>{{airport}}</h1>
{% if user.is_authenticated %}
  {% if airport in profile_airport %}
    <form action={% url 'remove_assoc_airport' airport.id profile.id %} method='post'>
      {% csrf_token %}
      <button type='submit'>Remove from your airport list</button>
    </form>
  {% else %}
    <form action={% url 'assoc_airport' airport.id profile.id %} method='post'>
      {% csrf_token %}
      <button type='submit'>Add to your airport list</button>
    </form>
  {% endif %}
{% endif %}
{% endblock content %}