{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script defer src="{% static 'js/ticket-form.js' %}"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/ticket-detail.css' %}"
/>
{% endblock head %}
{% block content %}
<div class='ticket-outer-div'>
  <div class='ticket-inner-div
    {% if ticket.get_seat_class_display == "First Class" %}
      first-class-primary
    {% elif ticket.get_seat_class_display == "Business" %}
      business-primary
    {% endif %}
  '>
    <h1 id='upper-h1'>{{ticket}}</h1>
    <div class='ticket-inner-div-1'>
      <div>
        <h1>{{ticket.origin.iata}}</h1>
        {{ticket.origin.name}}
      </div>
      <div>
        <img
          src={% static 'images/airplane.png' %}
          width='210px;'
          alt='airplane'
        />
      </div>
      <div>
        <h1>{{ticket.destination.iata}}</h1>
        {{ticket.destination.name}}
      </div>
    </div>
    {% now "Y-m-d" as todays_date %}
    <h1
      {% if not todays_date < ticket.date|date:"Y-m-d" %}
        style='color: crimson; font-size: 2em;'
    >Departed
      {% else %}
        style='font-size: 2em;'
    >Departs    
      {% endif %}
    {{ticket.date}}</h1>
    <div class='ticket-inner-div-2'>
      <div>
        <h3>Distance: <b>{{distance}}mi</b></h3>
      </div>
      <div>
        <h3>Est. arrival: <b>{{travel_time}}</b></h3>
      </div>
    </div>
    <div class='ticket-inner-div-3'>
      <div>
        <h3>Class: <b>{{ticket.get_seat_class_display}}</b></h3>
      </div>
      <div>
        <h2>Seat: <b>{{ticket.seat}}</b></h2>
      </div>
      <div>
        <h3>Price: <b>${{ticket.price}}</b></h3>
      </div>
    </div>
  </div>
  <div class='ticket-detail-buttons'>
    <a href={% url 'tickets_index' %} class='btn btn-dark btn-lg' role='button'>Back</a>
    <a href={% url 'tickets_update' ticket.id %} class='btn btn-primary btn-lg' role='button'>Change Seat</a>
    <a href={% url 'tickets_delete' ticket.id %} class='btn btn-danger btn-lg' role='button'>Get Refund</a>
  </div>
</div>
{% endblock content %}