{% extends 'base.html' %}
{% block content %}
<h1>Your Tickets</h1>
<a href={% url 'tickets_create' %} class='btn btn-primary' role='button'>New Ticket</a>
<br />
<br />
<table class='table'>
  <thead>
    <tr>
      <th scope='col'>Ticket #</th>
      <th scope='col'>Origin</th>
      <th scope='col'>Destination</th>
      <th scope='col'>Departure Date</th>
      <th scope='col'>Seat</th>
      <th scope='col'>Class</th>
      <th scope='col'></th>
    </tr>
  </thead>
  <tbody>
    {% now "Y-m-d" as todays_date %}
    {% for ticket in ticket_list %}
      <tr
        {% if not todays_date < ticket.date|date:"Y-m-d" %}
          style='color:red;'
        {% endif %}
      >
        <th scope='row'>{{ticket.id}}</th>
        <td>{{ticket.origin.iata}}</td>
        <td>{{ticket.destination.iata}}</td>
        <td>{{ticket.date}}</td>
        <td>{{ticket.seat}}</td>
        <td>{{ticket.get_seat_class_display}}</td>
        <td><a href={% url 'tickets_detail' ticket.id %} class='btn btn-info btn-sm' role='button'>Details</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}