{% extends 'base.html' %}
{% block content %}
<h1>Your Tickets</h1>
<a href={% url 'tickets_create' %} class='btn btn-primary' role='button'>New Ticket</a>
<br />
<br />
<div class='row'>
  {% for ticket in ticket_list %}
    <div class='col-sm-4'>
      <div class='card'>
        <div class='card-body'>
          <p><b>{{ticket}}</b> from {{ticket.origin.iata}} to {{ticket.destination.iata}}</p>
          <p>Departing <b>{{ticket.date}}</b></p>
          <p><b>Seat:</b> {{ticket.seat}}&nbsp;<b>Class:</b> {{ticket.get_seat_class_display}}</p>
          <a href={% url 'tickets_detail' ticket.id %} class='btn btn-info' role='button'>Details</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}