{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script defer src="{% static 'js/ticket-form.js' %}"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/ticket-form.css' %}"
/>
{% endblock head %}
{% block content %}
<div class='ticket-form-outer'>
  <div class='ticket-form-left'>
    {% if object %}
      <h1>Change Seat</h1>
    {% else %}
      <h1>New Ticket</h1>
    {% endif %}
    <form action='' method="post">
      {% csrf_token %}
      <table>
        {{form.as_table}}
      </table>
      <div class='ticket-form-left-button'>
        <button type="submit" class='btn btn-success'>Submit</button>
      </div>
    </form>
  </div>
  <div class='ticket-form-right'>
    <h3>Seat Number Instructions</h3>
    01-04, A-D: First class<br />
    05-15, A-G: Business <br />
    16-34, A-J: Economy<br />
    <b>Seats numbered less than 10 must have a 0 in front.</b><br />
    <b>Seat numbers are case sensitive.</b><br />
    Examples of valid seat numbers: 03B, 05C, 13F, 20H, 31A<br />
    <h5 style='color: crimson;'><b>Your seat class and distance from origin to destination determines your ticket price.</b></h3>
  </div>
</div>
{% endblock %}