{% extends 'base.html' %}
{% load static %}
{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/signup-login.css' %}"
/>
{% endblock head %}
{% block content %}
<div class='outer-div'>
  <div class='inner-div-about'>
      <img
        width='410px'
        src={% static 'images/logo.svg' %}
        alt='Django Flights'
      >
    <p>Django Flights is a full-stack web application built using Python and Django where one can add airports to their list and purchase (imaginary) tickets between two airports, automatically calculating ticket price based on how far the destination is from the origin.</p>
    <p><b>This project is not officially endorsed by Django Software Foundation or by the Django Core team.</b> See the <a href='https://www.djangoproject.com/trademarks/' class='django-link' target='_blank'>Django Trademark License Agreement</a> for details.</p>
  </div>
</div>
{% endblock %}