<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block head %}
    {% endblock head%}
  </head>
  <body>
    <header>
      <a href={% if user.is_authenticated %}
        {% url 'airports_index' %}
        {% else %}
        {% url 'search' %}
        {% endif %}>Django Flights</a>
      <nav>
        <ul>
            <li><a href={% url 'search' %}>Search</a></li>
          {% if user.is_authenticated %}
            <li><a href={% url 'logout' %}>Logout</a></li>
          {% else %}
            <li><a href={% url 'home' %}>Login</a></li>
            <li><a href={% url 'signup' %}>Signup</a></li>
          {% endif %}
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>