{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% static 'css/base.css' %}>
    <link rel="icon" href="{% static 'images/favicon.ico' %}"/>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <div class='div-base'>
      <div class='base-left'>
        <div class='nav'>
          <div class='nav-logo'>
            <a href={% url 'about' %}>
              <img
                width='180px'
                src={% static 'images/logo.svg' %}
                alt='Django Flights'
              >
            </a>
          </div>
          <div class='nav-list'>
            <p><a href={% url 'search' %}>Search</a></p>
            {% if user.is_authenticated %}
              <p><a href={% url 'airports_index' %}>Your Airports</a></p>
              <p><a href={% url 'tickets_index' %}>Your Tickets</a></p>
              <p><a href={% url 'logout' %}>Logout</a></p>
            {% else %}
              <p><a href={% url 'home' %}>Login</a></p>
              <p><a href={% url 'signup' %}>Signup</a></p>
            {% endif %}
          </div>
          {% if user.is_authenticated %}
          <div class='nav-list' style='max-width: 180px;'>
            <p>Logged in as: {{user}}</p>
          </div>
          {% endif %}
          <div class='nav-img'>
            <a href='https://github.com/jaehyun1009/djangoflights' target='_blank'>
              <img
                width='60px'
                src={% static 'images/github.svg' %}
                alt='Github Cat'
              />
            </a>
          </div>
        </div>
      </div>
      <div class='base-right'>
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </body>
</html>