{% extends 'base.html' %}
{% load static %}
{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/search.css' %}"
/>
{% endblock head %}
{% block content %}
<div class='search-airport-form'>
  <h1>Search Airport</h1>
  <form method="get">
    <table>
      {{form.as_table}}
    </table>
    <button type="submit" class='btn btn-success search-airport-button'>Search</button>
  </form>
</div>
<div class='card-columns airport-results'>
  {% for result in results %}
    {% if result.lat and result.lon %}
      <div class='card' style="background-color: rgba(255, 255, 255, 0.8);">
        <div class='card-body'>
          <p><b>Airport Name:</b><br />{{result.name}}</p>
          <p><b>Airport Code:</b><br />{{result.iata}}</p>
          <p><b>Country Code:</b><br />{{result.iso}}</p>
          <a href={% url 'airports_detail' result.id %} class='btn btn-info' role='button'>Details</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
<div>
{% endblock content %}