{% extends 'base.html' %}
{% block content %}
<h1>Search Airport</h1>
<form method="get">
  <table>
    {{form.as_table}}
  </table>
  <button type="submit" class='btn btn-success'>Search</button>
</form>
<br />
<div class='card-columns'>
  {% for result in results %}
    {% if result.lat and result.lon %}
      <div class='card'>
        <div class='card-body'>
          <p><b>Airport Name:</b><br />{{result.name}}</p>
          <p><b>Airport Code:</b><br />{{result.iata}}</p>
          <p><b>Country Code:</b><br />{{result.iso}}</p>
          <a href={% url 'airports_detail' result.id %} class='btn btn-info' role='button'>Details</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
<div>
{% endblock content %}