.total-airport {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.lower-half-airport {
  width: 72vw;
  display: flex;
  justify-content: space-between;
}

.airport-name {
  background-color: rgba(9, 46, 32, 0.8);
  color: white;
  width: 72vw;
  padding: 15px 15px 25px 15px;
  margin: 15px;
  border-radius: 50px;
  text-align: center;
}

.weather {
  background-color: rgba(255, 255, 255, 0.8);
  width: 30vw;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 3px 3px #666;
}

.upper-weather {
  text-align: center;
}

.lower-weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pollution {
  width: 40vw;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 3px 3px #666;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pollution-left {
  width: 250px;
  text-align: center;
}

.airport-button {
  margin: 10px;
}