@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

body {
  font-family: 'Glory', sans-serif;
  background-image:url('../images/airport_lounge.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.div-base {
  display: flex;
  height: 100vh;
}

.base-left {
  background-color: #092E20;
  padding: 25px;
}

.base-right {
  width: 100vw;
  padding: 25px;
  overflow: scroll;
}

.nav-list > p, a {
  color: white;
  font-size: 24px;
}

.nav-list > p > a:hover {
  color: limegreen;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 94vh;
  justify-content: space-between;
}

#logged-in-user {
  color: white;
  text-align: center;
}