@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

body {
  font-family: 'Glory', sans-serif;
  background-image:url('../images/airport_lounge.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.div-base {
  display: flex;
  height: 100vh;
}

.base-left {
  background-color: #092E20;
  padding: 25px;
}

.base-right {
  width: 100vw;
  overflow: scroll;
}

.main-list {
  list-style-type: none;
}

.main-list > li > a {
  color: white;
  font-size: 24px;
}

.main-list > li > a:hover {
  color: limegreen;
  text-decoration: none;
}

.base-right {
  padding: 25px;
}