h1 {
  text-align: center;
  font-size: 5em;
  color: white;
}

h1 > span {
  background-color: rgba(9, 46, 32, 0.8);
  padding: 10px 20px;
  border-radius: 20px;
}

table tr td, table tr th {
  background-color: rgba(255, 255, 255, 0.8);
}

.no-object-info {
  display: flex;
  justify-content: center;
}

.no-object-info > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 25px 25px 10px 25px;
  border-radius: 50px;
  text-align: center;
  width: 600px;
}