.outer-div {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-div > div {
  background-color: rgba(9, 46, 32, 0.8);
  color: white;
  padding: 25px;
  border-radius: 25px;
}

.inner-div-signup {
  width: 640px;
}

.inner-div-signup > h1 {
  text-align: center;
}

.signup-button {
  text-align: center;
}

.inner-div-login {
  width: 320px;
  text-align: center;
}

.inner-div-login > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inner-div-about {
  width: 600px;
}

.inner-div-about > h1 {
  text-align: center;
}

.inner-div-about > img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.django-link {
  color: limegreen;
  font-size: 1em;
}