body {
  background-image:url('../images/checkin.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ticket-form-outer {
  display: flex;
  height: 90vh;
  justify-content: space-around;
  align-items: center;
}

.ticket-form-outer > div {
  width: 400px;
  height: 300px;
  padding: 25px;
  border-radius: 25px;
}

.ticket-form-left {
  background-color: rgba(9, 46, 32, 0.8);
  color: white;
}

.ticket-form-left > h1 {
  text-align: center;
}

.ticket-form-left-button {
  text-align: center;
  margin: 10px;
}

.ticket-form-right {
  background-color: rgba(50, 205, 50, 0.8);
  color: white;
}

#id_origin {
  width: 250px;
}

#id_destination {
  width: 250px;
}

@media (max-width: 1100px) {
  .ticket-form-outer {
    display: flex;
    flex-direction: column;
  }
}